In [1]:
import pandas as pd

In [2]:
# Uploaded data files
deforestation_data = pd.read_csv("data/annual-change-forest-area.csv")
co2_emissions_data = pd.read_csv("data/CO2_Emissions-V1.csv")
population_data = pd.read_csv("data/world_population.csv")
climate_data = pd.read_csv("data/GlobalLandTemperaturesByCountry_subset_V2.csv")

In [3]:
# Selecting only the required columns for entity, year, and net forest conversion
climate_data = climate_data[['Country', '2000', '2010']]

for index, row in climate_data.iterrows():
    country = row['Country']
    year_2000 = row['2000']
    year_2010 = row['2010']

    
    climate_insert_statement = f"insert into Climate (Country, Year, AverageTemperature) values ('{country}', 2000, {year_2000});\n"
    climate_insert_statement += f"insert into Climate (Country, Year, AverageTemperature) values ('{country}', 2010, {year_2010});\n"

    print(climate_insert_statement)

insert into Climate (Country, Year, AverageTemperature) values ('Afghanistan', 2000, 15.5);
insert into Climate (Country, Year, AverageTemperature) values ('Afghanistan', 2010, 15.83);

insert into Climate (Country, Year, AverageTemperature) values ('Africa', 2000, 24.59);
insert into Climate (Country, Year, AverageTemperature) values ('Africa', 2010, 25.47);

insert into Climate (Country, Year, AverageTemperature) values ('Ã…land', 2000, 7.28);
insert into Climate (Country, Year, AverageTemperature) values ('Ã…land', 2010, 4.86);

insert into Climate (Country, Year, AverageTemperature) values ('Albania', 2000, 13.75);
insert into Climate (Country, Year, AverageTemperature) values ('Albania', 2010, 13.78);

insert into Climate (Country, Year, AverageTemperature) values ('Algeria', 2000, 24.03);
insert into Climate (Country, Year, AverageTemperature) values ('Algeria', 2010, 25.22);

insert into Climate (Country, Year, AverageTemperature) values ('American Samoa', 2000, 27.22);
insert into Climate (Country, Year, AverageTemperature) values ('American Samoa', 2010, 27.45);

insert into Climate (Country, Year, AverageTemperature) values ('Andorra', 2000, 12.31);
insert into Climate (Country, Year, AverageTemperature) values ('Andorra', 2010, 11.48);

insert into Climate (Country, Year, AverageTemperature) values ('Angola', 2000, 22.36);
insert into Climate (Country, Year, AverageTemperature) values ('Angola', 2010, 22.68);

insert into Climate (Country, Year, AverageTemperature) values ('Anguilla', 2000, 27.05);
insert into Climate (Country, Year, AverageTemperature) values ('Anguilla', 2010, 27.86);

insert into Climate (Country, Year, AverageTemperature) values ('Antarctica', 2000, nan);
insert into Climate (Country, Year, AverageTemperature) values ('Antarctica', 2010, nan);

insert into Climate (Country, Year, AverageTemperature) values ('Antigua And Barbuda', 2000, 26.89);
insert into Climate (Country, Year, AverageTemperature) values ('Antigua And Barbuda', 2010, 27.74);

insert into Climate (Country, Year, AverageTemperature) values ('Argentina', 2000, 14.75);
insert into Climate (Country, Year, AverageTemperature) values ('Argentina', 2010, 15.08);

insert into Climate (Country, Year, AverageTemperature) values ('Armenia', 2000, 9.92);
insert into Climate (Country, Year, AverageTemperature) values ('Armenia', 2010, 11.51);

insert into Climate (Country, Year, AverageTemperature) values ('Aruba', 2000, 28.13);
insert into Climate (Country, Year, AverageTemperature) values ('Aruba', 2010, 28.97);

insert into Climate (Country, Year, AverageTemperature) values ('Asia', 2000, 8.25);
insert into Climate (Country, Year, AverageTemperature) values ('Asia', 2010, 8.58);

insert into Climate (Country, Year, AverageTemperature) values ('Australia', 2000, 21.71);
insert into Climate (Country, Year, AverageTemperature) values ('Australia', 2010, 22.08);

insert into Climate (Country, Year, AverageTemperature) values ('Austria', 2000, 8.08);
insert into Climate (Country, Year, AverageTemperature) values ('Austria', 2010, 6.65);

insert into Climate (Country, Year, AverageTemperature) values ('Azerbaijan', 2000, 12.63);
insert into Climate (Country, Year, AverageTemperature) values ('Azerbaijan', 2010, 13.96);

insert into Climate (Country, Year, AverageTemperature) values ('Bahamas', 2000, 25.45);
insert into Climate (Country, Year, AverageTemperature) values ('Bahamas', 2010, 25.23);

insert into Climate (Country, Year, AverageTemperature) values ('Bahrain', 2000, 27.07);
insert into Climate (Country, Year, AverageTemperature) values ('Bahrain', 2010, 28.07);

insert into Climate (Country, Year, AverageTemperature) values ('Baker Island', 2000, 25.91);
insert into Climate (Country, Year, AverageTemperature) values ('Baker Island', 2010, 26.21);

insert into Climate (Country, Year, AverageTemperature) values ('Bangladesh', 2000, 25.15);
insert into Climate (Country, Year, AverageTemperature) values ('Bangladesh', 2010, 25.94);

insert into Climate (Country, Year, AverageTemperature) values ('Barbados', 2000, 26.9);
insert into Climate (Country, Year, AverageTemperature) values ('Barbados', 2010, 27.84);

insert into Climate (Country, Year, AverageTemperature) values ('Belarus', 2000, 7.91);
insert into Climate (Country, Year, AverageTemperature) values ('Belarus', 2010, 7.04);

insert into Climate (Country, Year, AverageTemperature) values ('Belgium', 2000, 11.03);
insert into Climate (Country, Year, AverageTemperature) values ('Belgium', 2010, 9.36);

insert into Climate (Country, Year, AverageTemperature) values ('Belize', 2000, 25.29);
insert into Climate (Country, Year, AverageTemperature) values ('Belize', 2010, 25.5);

insert into Climate (Country, Year, AverageTemperature) values ('Benin', 2000, 27.64);
insert into Climate (Country, Year, AverageTemperature) values ('Benin', 2010, 28.33);

insert into Climate (Country, Year, AverageTemperature) values ('Bhutan', 2000, 12.0);
insert into Climate (Country, Year, AverageTemperature) values ('Bhutan', 2010, 12.95);

insert into Climate (Country, Year, AverageTemperature) values ('Bolivia', 2000, 21.08);
insert into Climate (Country, Year, AverageTemperature) values ('Bolivia', 2010, 21.45);

insert into Climate (Country, Year, AverageTemperature) values ('Bonaire', 2000, 27.41);
insert into Climate (Country, Year, AverageTemperature) values ('Bonaire', 2010, 28.37);

insert into Climate (Country, Year, AverageTemperature) values ('Bosnia And Herzegovina', 2000, 12.15);
insert into Climate (Country, Year, AverageTemperature) values ('Bosnia And Herzegovina', 2010, 11.27);

insert into Climate (Country, Year, AverageTemperature) values ('Botswana', 2000, 21.87);
insert into Climate (Country, Year, AverageTemperature) values ('Botswana', 2010, 22.73);

insert into Climate (Country, Year, AverageTemperature) values ('Brazil', 2000, 25.2);
insert into Climate (Country, Year, AverageTemperature) values ('Brazil', 2010, 25.81);

insert into Climate (Country, Year, AverageTemperature) values ('British Virgin Islands', 2000, 26.73);
insert into Climate (Country, Year, AverageTemperature) values ('British Virgin Islands', 2010, 27.59);

insert into Climate (Country, Year, AverageTemperature) values ('Bulgaria', 2000, 11.91);
insert into Climate (Country, Year, AverageTemperature) values ('Bulgaria', 2010, 11.77);

insert into Climate (Country, Year, AverageTemperature) values ('Burkina Faso', 2000, 28.59);
insert into Climate (Country, Year, AverageTemperature) values ('Burkina Faso', 2010, 29.29);

insert into Climate (Country, Year, AverageTemperature) values ('Burma', 2000, 23.93);
insert into Climate (Country, Year, AverageTemperature) values ('Burma', 2010, 24.86);

insert into Climate (Country, Year, AverageTemperature) values ('Burundi', 2000, 20.6);
insert into Climate (Country, Year, AverageTemperature) values ('Burundi', 2010, 21.07);

insert into Climate (Country, Year, AverageTemperature) values ('Cambodia', 2000, 27.06);
insert into Climate (Country, Year, AverageTemperature) values ('Cambodia', 2010, 27.88);

insert into Climate (Country, Year, AverageTemperature) values ('Cameroon', 2000, 24.61);
insert into Climate (Country, Year, AverageTemperature) values ('Cameroon', 2010, 25.46);

insert into Climate (Country, Year, AverageTemperature) values ('Canada', 2000, -4.03);
insert into Climate (Country, Year, AverageTemperature) values ('Canada', 2010, -1.89);

insert into Climate (Country, Year, AverageTemperature) values ('Cape Verde', 2000, 24.72);
insert into Climate (Country, Year, AverageTemperature) values ('Cape Verde', 2010, 25.83);

insert into Climate (Country, Year, AverageTemperature) values ('Cayman Islands', 2000, 27.1);
insert into Climate (Country, Year, AverageTemperature) values ('Cayman Islands', 2010, 27.03);

insert into Climate (Country, Year, AverageTemperature) values ('Central African Republic', 2000, 25.61);
insert into Climate (Country, Year, AverageTemperature) values ('Central African Republic', 2010, 26.33);

insert into Climate (Country, Year, AverageTemperature) values ('Chad', 2000, 27.45);
insert into Climate (Country, Year, AverageTemperature) values ('Chad', 2010, 28.7);

insert into Climate (Country, Year, AverageTemperature) values ('Chile', 2000, 9.56);
insert into Climate (Country, Year, AverageTemperature) values ('Chile', 2010, 9.71);

insert into Climate (Country, Year, AverageTemperature) values ('China', 2000, 7.24);
insert into Climate (Country, Year, AverageTemperature) values ('China', 2010, 7.55);

insert into Climate (Country, Year, AverageTemperature) values ('Christmas Island', 2000, 26.38);
insert into Climate (Country, Year, AverageTemperature) values ('Christmas Island', 2010, 26.84);

insert into Climate (Country, Year, AverageTemperature) values ('Colombia', 2000, 25.03);
insert into Climate (Country, Year, AverageTemperature) values ('Colombia', 2010, 25.69);

insert into Climate (Country, Year, AverageTemperature) values ('Comoros', 2000, 26.0);
insert into Climate (Country, Year, AverageTemperature) values ('Comoros', 2010, 26.79);

insert into Climate (Country, Year, AverageTemperature) values ('Congo', 2000, 24.79);
insert into Climate (Country, Year, AverageTemperature) values ('Congo', 2010, 25.56);

insert into Climate (Country, Year, AverageTemperature) values ('Congo (Democratic Republic Of The)', 2000, 24.21);
insert into Climate (Country, Year, AverageTemperature) values ('Congo (Democratic Republic Of The)', 2010, 24.76);

insert into Climate (Country, Year, AverageTemperature) values ('Costa Rica', 2000, 26.07);
insert into Climate (Country, Year, AverageTemperature) values ('Costa Rica', 2010, 26.23);

insert into Climate (Country, Year, AverageTemperature) values ('CÃ´te D'Ivoire', 2000, 26.4);
insert into Climate (Country, Year, AverageTemperature) values ('CÃ´te D'Ivoire', 2010, 27.15);

insert into Climate (Country, Year, AverageTemperature) values ('Croatia', 2000, 13.23);
insert into Climate (Country, Year, AverageTemperature) values ('Croatia', 2010, 11.96);

insert into Climate (Country, Year, AverageTemperature) values ('Cuba', 2000, 25.79);
insert into Climate (Country, Year, AverageTemperature) values ('Cuba', 2010, 25.63);

insert into Climate (Country, Year, AverageTemperature) values ('CuraÃ§ao', 2000, 27.56);
insert into Climate (Country, Year, AverageTemperature) values ('CuraÃ§ao', 2010, 28.47);

insert into Climate (Country, Year, AverageTemperature) values ('Cyprus', 2000, 19.44);
insert into Climate (Country, Year, AverageTemperature) values ('Cyprus', 2010, 20.95);

insert into Climate (Country, Year, AverageTemperature) values ('Czech Republic', 2000, 9.66);
insert into Climate (Country, Year, AverageTemperature) values ('Czech Republic', 2010, 7.75);

insert into Climate (Country, Year, AverageTemperature) values ('Denmark', 2000, -16.82);
insert into Climate (Country, Year, AverageTemperature) values ('Denmark', 2010, -15.09);

insert into Climate (Country, Year, AverageTemperature) values ('Denmark (Europe)', 2000, 9.58);
insert into Climate (Country, Year, AverageTemperature) values ('Denmark (Europe)', 2010, 7.3);

insert into Climate (Country, Year, AverageTemperature) values ('Djibouti', 2000, 29.86);
insert into Climate (Country, Year, AverageTemperature) values ('Djibouti', 2010, 29.84);

insert into Climate (Country, Year, AverageTemperature) values ('Dominica', 2000, 26.57);
insert into Climate (Country, Year, AverageTemperature) values ('Dominica', 2010, 27.49);

insert into Climate (Country, Year, AverageTemperature) values ('Dominican Republic', 2000, 25.88);
insert into Climate (Country, Year, AverageTemperature) values ('Dominican Republic', 2010, 26.46);

insert into Climate (Country, Year, AverageTemperature) values ('Ecuador', 2000, 22.03);
insert into Climate (Country, Year, AverageTemperature) values ('Ecuador', 2010, 22.64);

insert into Climate (Country, Year, AverageTemperature) values ('Egypt', 2000, 22.88);
insert into Climate (Country, Year, AverageTemperature) values ('Egypt', 2010, 25.15);

insert into Climate (Country, Year, AverageTemperature) values ('El Salvador', 2000, 25.41);
insert into Climate (Country, Year, AverageTemperature) values ('El Salvador', 2010, 25.46);

insert into Climate (Country, Year, AverageTemperature) values ('Equatorial Guinea', 2000, 25.22);
insert into Climate (Country, Year, AverageTemperature) values ('Equatorial Guinea', 2010, 25.9);

insert into Climate (Country, Year, AverageTemperature) values ('Eritrea', 2000, 27.52);
insert into Climate (Country, Year, AverageTemperature) values ('Eritrea', 2010, 28.05);

insert into Climate (Country, Year, AverageTemperature) values ('Estonia', 2000, 7.01);
insert into Climate (Country, Year, AverageTemperature) values ('Estonia', 2010, 5.04);

insert into Climate (Country, Year, AverageTemperature) values ('Ethiopia', 2000, 23.76);
insert into Climate (Country, Year, AverageTemperature) values ('Ethiopia', 2010, 23.93);

insert into Climate (Country, Year, AverageTemperature) values ('Europe', 2000, 9.44);
insert into Climate (Country, Year, AverageTemperature) values ('Europe', 2010, 8.28);

insert into Climate (Country, Year, AverageTemperature) values ('Falkland Islands (Islas Malvinas)', 2000, 6.4);
insert into Climate (Country, Year, AverageTemperature) values ('Falkland Islands (Islas Malvinas)', 2010, 6.87);

insert into Climate (Country, Year, AverageTemperature) values ('Faroe Islands', 2000, 7.19);
insert into Climate (Country, Year, AverageTemperature) values ('Faroe Islands', 2010, 6.83);

insert into Climate (Country, Year, AverageTemperature) values ('Federated States Of Micronesia', 2000, 27.44);
insert into Climate (Country, Year, AverageTemperature) values ('Federated States Of Micronesia', 2010, 27.73);

insert into Climate (Country, Year, AverageTemperature) values ('Fiji', 2000, 25.84);
insert into Climate (Country, Year, AverageTemperature) values ('Fiji', 2010, 25.92);

insert into Climate (Country, Year, AverageTemperature) values ('Finland', 2000, 3.59);
insert into Climate (Country, Year, AverageTemperature) values ('Finland', 2010, 1.14);

insert into Climate (Country, Year, AverageTemperature) values ('France', 2000, 13.97);
insert into Climate (Country, Year, AverageTemperature) values ('France', 2010, 13.12);

insert into Climate (Country, Year, AverageTemperature) values ('France (Europe)', 2000, 11.74);
insert into Climate (Country, Year, AverageTemperature) values ('France (Europe)', 2010, 10.53);

insert into Climate (Country, Year, AverageTemperature) values ('French Guiana', 2000, 26.11);
insert into Climate (Country, Year, AverageTemperature) values ('French Guiana', 2010, 27.02);

insert into Climate (Country, Year, AverageTemperature) values ('French Polynesia', 2000, 26.64);
insert into Climate (Country, Year, AverageTemperature) values ('French Polynesia', 2010, 26.94);

insert into Climate (Country, Year, AverageTemperature) values ('French Southern And Antarctic Lands', 2000, 5.22);
insert into Climate (Country, Year, AverageTemperature) values ('French Southern And Antarctic Lands', 2010, 5.64);

insert into Climate (Country, Year, AverageTemperature) values ('Gabon', 2000, 24.57);
insert into Climate (Country, Year, AverageTemperature) values ('Gabon', 2010, 25.22);

insert into Climate (Country, Year, AverageTemperature) values ('Gambia', 2000, 28.06);
insert into Climate (Country, Year, AverageTemperature) values ('Gambia', 2010, 28.8);

insert into Climate (Country, Year, AverageTemperature) values ('Gaza Strip', 2000, 19.88);
insert into Climate (Country, Year, AverageTemperature) values ('Gaza Strip', 2010, 21.9);

insert into Climate (Country, Year, AverageTemperature) values ('Georgia', 2000, 9.31);
insert into Climate (Country, Year, AverageTemperature) values ('Georgia', 2010, 11.1);

insert into Climate (Country, Year, AverageTemperature) values ('Germany', 2000, 10.02);
insert into Climate (Country, Year, AverageTemperature) values ('Germany', 2010, 8.01);

insert into Climate (Country, Year, AverageTemperature) values ('Ghana', 2000, 27.25);
insert into Climate (Country, Year, AverageTemperature) values ('Ghana', 2010, 27.94);

insert into Climate (Country, Year, AverageTemperature) values ('Greece', 2000, 15.67);
insert into Climate (Country, Year, AverageTemperature) values ('Greece', 2010, 16.37);

insert into Climate (Country, Year, AverageTemperature) values ('Greenland', 2000, -17.37);
insert into Climate (Country, Year, AverageTemperature) values ('Greenland', 2010, -15.55);

insert into Climate (Country, Year, AverageTemperature) values ('Grenada', 2000, 27.19);
insert into Climate (Country, Year, AverageTemperature) values ('Grenada', 2010, 28.11);

insert into Climate (Country, Year, AverageTemperature) values ('Guadeloupe', 2000, 26.79);
insert into Climate (Country, Year, AverageTemperature) values ('Guadeloupe', 2010, 27.66);

insert into Climate (Country, Year, AverageTemperature) values ('Guam', 2000, 27.48);
insert into Climate (Country, Year, AverageTemperature) values ('Guam', 2010, 27.25);

insert into Climate (Country, Year, AverageTemperature) values ('Guatemala', 2000, 23.43);
insert into Climate (Country, Year, AverageTemperature) values ('Guatemala', 2010, 23.69);

insert into Climate (Country, Year, AverageTemperature) values ('Guernsey', 2000, 11.92);
insert into Climate (Country, Year, AverageTemperature) values ('Guernsey', 2010, 10.96);

insert into Climate (Country, Year, AverageTemperature) values ('Guinea', 2000, 25.97);
insert into Climate (Country, Year, AverageTemperature) values ('Guinea', 2010, 26.6);

insert into Climate (Country, Year, AverageTemperature) values ('Guinea Bissau', 2000, 27.29);
insert into Climate (Country, Year, AverageTemperature) values ('Guinea Bissau', 2010, 27.92);

insert into Climate (Country, Year, AverageTemperature) values ('Guyana', 2000, 26.39);
insert into Climate (Country, Year, AverageTemperature) values ('Guyana', 2010, 27.12);

insert into Climate (Country, Year, AverageTemperature) values ('Haiti', 2000, 26.6);
insert into Climate (Country, Year, AverageTemperature) values ('Haiti', 2010, 27.0);

insert into Climate (Country, Year, AverageTemperature) values ('Heard Island And Mcdonald Islands', 2000, 2.89);
insert into Climate (Country, Year, AverageTemperature) values ('Heard Island And Mcdonald Islands', 2010, 3.11);

insert into Climate (Country, Year, AverageTemperature) values ('Honduras', 2000, 25.15);
insert into Climate (Country, Year, AverageTemperature) values ('Honduras', 2010, 25.25);

insert into Climate (Country, Year, AverageTemperature) values ('Hong Kong', 2000, 23.2);
insert into Climate (Country, Year, AverageTemperature) values ('Hong Kong', 2010, 23.14);

insert into Climate (Country, Year, AverageTemperature) values ('Hungary', 2000, 11.7);
insert into Climate (Country, Year, AverageTemperature) values ('Hungary', 2010, 10.35);

insert into Climate (Country, Year, AverageTemperature) values ('Iceland', 2000, 2.1);
insert into Climate (Country, Year, AverageTemperature) values ('Iceland', 2010, 2.68);

insert into Climate (Country, Year, AverageTemperature) values ('India', 2000, 24.5);
insert into Climate (Country, Year, AverageTemperature) values ('India', 2010, 25.05);

insert into Climate (Country, Year, AverageTemperature) values ('Indonesia', 2000, 26.19);
insert into Climate (Country, Year, AverageTemperature) values ('Indonesia', 2010, 26.54);

insert into Climate (Country, Year, AverageTemperature) values ('Iran', 2000, 18.89);
insert into Climate (Country, Year, AverageTemperature) values ('Iran', 2010, 20.09);

insert into Climate (Country, Year, AverageTemperature) values ('Iraq', 2000, 22.99);
insert into Climate (Country, Year, AverageTemperature) values ('Iraq', 2010, 24.65);

insert into Climate (Country, Year, AverageTemperature) values ('Ireland', 2000, 10.13);

In [65]:
print(co2_emissions_data.columns)

Index(['Country ID', 'Country', '2000', '2010', 'CO2 emissions, latest year',
       '% change since 1990', 'CO2 emissions \nper capita, \nlatest year'],
      dtype='object')

In [66]:
# Selecting only the required columns for country and CO2 emissions in 2000 and 2010
co2_data_subset = co2_emissions_data[['Country', '2000', '2010']]

for index, row in co2_data_subset.iterrows():
    country = row['Country']
    co2_2000 = row['2000']
    co2_2010 = row['2010']
    
    co2_insert_statement = f"insert into CO2_Emissions (Country, Year, Amount) values ('{country}', 2000, '{co2_2000}');\n"
    co2_insert_statement += f"insert into CO2_Emissions (Country, Year, Amount) values ('{country}', 2010, '{co2_2010}');\n"
    
    print(co2_insert_statement)

insert into CO2_Emissions (Country, Year, Amount) values ('Afghanistan', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Afghanistan', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Albania', 2000, '3507.90');
insert into CO2_Emissions (Country, Year, Amount) values ('Albania', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Algeria', 2000, '71593.26');
insert into CO2_Emissions (Country, Year, Amount) values ('Algeria', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Angola', 2000, '16317.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Angola', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Antigua and Barbuda', 2000, '371.88');
insert into CO2_Emissions (Country, Year, Amount) values ('Antigua and Barbuda', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Argentina', 2000, '1,28,323.87');
insert into CO2_Emissions (Country, Year, Amount) values ('Argentina', 2010, '1,81,939.49');

insert into CO2_Emissions (Country, Year, Amount) values ('Armenia', 2000, '3199.57');
insert into CO2_Emissions (Country, Year, Amount) values ('Armenia', 2010, '4456.99');

insert into CO2_Emissions (Country, Year, Amount) values ('Australia', 2000, '3,50,195.02');
insert into CO2_Emissions (Country, Year, Amount) values ('Australia', 2010, '4,05,502.80');

insert into CO2_Emissions (Country, Year, Amount) values ('Austria', 2000, '66162.89');
insert into CO2_Emissions (Country, Year, Amount) values ('Austria', 2010, '72011.84');

insert into CO2_Emissions (Country, Year, Amount) values ('Azerbaijan', 2000, '29010.24');
insert into CO2_Emissions (Country, Year, Amount) values ('Azerbaijan', 2010, '26411.83');

insert into CO2_Emissions (Country, Year, Amount) values ('Bahamas', 2000, '660.44');
insert into CO2_Emissions (Country, Year, Amount) values ('Bahamas', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Bahrain', 2000, '18170.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Bahrain', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Bangladesh', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Bangladesh', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Barbados', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Barbados', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Belarus', 2000, '54877.36');
insert into CO2_Emissions (Country, Year, Amount) values ('Belarus', 2010, '63156.39');

insert into CO2_Emissions (Country, Year, Amount) values ('Belgium', 2000, '1,26,735.30');
insert into CO2_Emissions (Country, Year, Amount) values ('Belgium', 2010, '1,14,561.03');

insert into CO2_Emissions (Country, Year, Amount) values ('Belize', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Belize', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Benin', 2000, '1416.38');
insert into CO2_Emissions (Country, Year, Amount) values ('Benin', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Bhutan', 2000, '498.07');
insert into CO2_Emissions (Country, Year, Amount) values ('Bhutan', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Bolivia (Plurinational State of)', 2000, '7782.84');
insert into CO2_Emissions (Country, Year, Amount) values ('Bolivia (Plurinational State of)', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Bosnia and Herzegovina', 2000, '11633.23');
insert into CO2_Emissions (Country, Year, Amount) values ('Bosnia and Herzegovina', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Botswana', 2000, '3979.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Botswana', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Brazil', 2000, '3,31,466.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Brazil', 2010, '4,29,844.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Brunei Darussalam', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Brunei Darussalam', 2010, '5882.59');

insert into CO2_Emissions (Country, Year, Amount) values ('Bulgaria', 2000, '45305.03');
insert into CO2_Emissions (Country, Year, Amount) values ('Bulgaria', 2010, '47862.93');

insert into CO2_Emissions (Country, Year, Amount) values ('Burkina Faso', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Burkina Faso', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Burundi', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Burundi', 2010, '172.97');

insert into CO2_Emissions (Country, Year, Amount) values ('Cabo Verde', 2000, '284.95');
insert into CO2_Emissions (Country, Year, Amount) values ('Cabo Verde', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Cambodia', 2000, '2052.58');
insert into CO2_Emissions (Country, Year, Amount) values ('Cambodia', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Cameroon', 2000, '2991.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Cameroon', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Canada', 2000, '5,72,162.10');
insert into CO2_Emissions (Country, Year, Amount) values ('Canada', 2010, '5,55,549.85');

insert into CO2_Emissions (Country, Year, Amount) values ('Central African Republic', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Central African Republic', 2010, '252.59');

insert into CO2_Emissions (Country, Year, Amount) values ('Chad', 2000, '304.99');
insert into CO2_Emissions (Country, Year, Amount) values ('Chad', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Chile', 2000, '54750.50');
insert into CO2_Emissions (Country, Year, Amount) values ('Chile', 2010, '69667.00');

insert into CO2_Emissions (Country, Year, Amount) values ('China', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('China', 2010, '87,07,376.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Colombia', 2000, '63813.83');
insert into CO2_Emissions (Country, Year, Amount) values ('Colombia', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Comoros', 2000, '82.42');
insert into CO2_Emissions (Country, Year, Amount) values ('Comoros', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Congo', 2000, '1292.15');
insert into CO2_Emissions (Country, Year, Amount) values ('Congo', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Cook Islands', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Cook Islands', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Costa Rica', 2000, '5104.67');
insert into CO2_Emissions (Country, Year, Amount) values ('Costa Rica', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('CÃ´te dâ€™Ivoire', 2000, '60372.31');
insert into CO2_Emissions (Country, Year, Amount) values ('CÃ´te dâ€™Ivoire', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Croatia', 2000, '19694.45');
insert into CO2_Emissions (Country, Year, Amount) values ('Croatia', 2010, '21050.86');

insert into CO2_Emissions (Country, Year, Amount) values ('Cuba', 2000, '26586.22');
insert into CO2_Emissions (Country, Year, Amount) values ('Cuba', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Cyprus', 2000, '7145.88');
insert into CO2_Emissions (Country, Year, Amount) values ('Cyprus', 2010, '8089.01');

insert into CO2_Emissions (Country, Year, Amount) values ('Czechia', 2000, '1,27,066.45');
insert into CO2_Emissions (Country, Year, Amount) values ('Czechia', 2010, '1,17,500.71');

insert into CO2_Emissions (Country, Year, Amount) values ('Democratic People's Republic of Korea', 2000, '68740.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Democratic People's Republic of Korea', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Democratic Republic of the Congo', 2000, '2644.20');
insert into CO2_Emissions (Country, Year, Amount) values ('Democratic Republic of the Congo', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Denmark', 2000, '55609.69');
insert into CO2_Emissions (Country, Year, Amount) values ('Denmark', 2010, '50678.31');

insert into CO2_Emissions (Country, Year, Amount) values ('Djibouti', 2000, '342.02');
insert into CO2_Emissions (Country, Year, Amount) values ('Djibouti', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Dominica', 2000, '105.80');
insert into CO2_Emissions (Country, Year, Amount) values ('Dominica', 2010, '141.55');

insert into CO2_Emissions (Country, Year, Amount) values ('Dominican Republic', 2000, '18416.75');
insert into CO2_Emissions (Country, Year, Amount) values ('Dominican Republic', 2010, '12572.41');

insert into CO2_Emissions (Country, Year, Amount) values ('Ecuador', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Ecuador', 2010, '37473.91');

insert into CO2_Emissions (Country, Year, Amount) values ('Egypt', 2000, '1,28,227.95');
insert into CO2_Emissions (Country, Year, Amount) values ('Egypt', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('El Salvador', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('El Salvador', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Eritrea', 2000, '621.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Eritrea', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Estonia', 2000, '15244.19');
insert into CO2_Emissions (Country, Year, Amount) values ('Estonia', 2010, '18784.96');

insert into CO2_Emissions (Country, Year, Amount) values ('Eswatini', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Eswatini', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Ethiopia', 2000, '3437.90');
insert into CO2_Emissions (Country, Year, Amount) values ('Ethiopia', 2010, '11134.35');

insert into CO2_Emissions (Country, Year, Amount) values ('Fiji', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Fiji', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Finland', 2000, '57038.25');
insert into CO2_Emissions (Country, Year, Amount) values ('Finland', 2010, '64099.45');

insert into CO2_Emissions (Country, Year, Amount) values ('France', 2000, '4,19,232.28');
insert into CO2_Emissions (Country, Year, Amount) values ('France', 2010, '3,93,717.82');

insert into CO2_Emissions (Country, Year, Amount) values ('Gabon', 2000, '5157.27');
insert into CO2_Emissions (Country, Year, Amount) values ('Gabon', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Gambia', 2000, '218.77');
insert into CO2_Emissions (Country, Year, Amount) values ('Gambia', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Georgia', 2000, '3705.20');
insert into CO2_Emissions (Country, Year, Amount) values ('Georgia', 2010, '6634.73');

insert into CO2_Emissions (Country, Year, Amount) values ('Germany', 2000, '8,99,780.20');
insert into CO2_Emissions (Country, Year, Amount) values ('Germany', 2010, '8,32,669.74');

insert into CO2_Emissions (Country, Year, Amount) values ('Ghana', 2000, '6297.67');
insert into CO2_Emissions (Country, Year, Amount) values ('Ghana', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Greece', 2000, '1,02,999.03');
insert into CO2_Emissions (Country, Year, Amount) values ('Greece', 2010, '97361.50');

insert into CO2_Emissions (Country, Year, Amount) values ('Grenada', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Grenada', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Guatemala', 2000, '10578.65');
insert into CO2_Emissions (Country, Year, Amount) values ('Guatemala', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Guinea', 2000, '1960.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Guinea', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Guinea-Bissau', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Guinea-Bissau', 2010, '2450.67');

insert into CO2_Emissions (Country, Year, Amount) values ('Guyana', 2000, '1688.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Guyana', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Haiti', 2000, '1447.66');
insert into CO2_Emissions (Country, Year, Amount) values ('Haiti', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Honduras', 2000, '4162.45');
insert into CO2_Emissions (Country, Year, Amount) values ('Honduras', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Hungary', 2000, '58608.27');
insert into CO2_Emissions (Country, Year, Amount) values ('Hungary', 2010, '52123.68');

insert into CO2_Emissions (Country, Year, Amount) values ('Iceland', 2000, '2946.47');
insert into CO2_Emissions (Country, Year, Amount) values ('Iceland', 2010, '3660.12');

insert into CO2_Emissions (Country, Year, Amount) values ('India', 2000, '10,24,772.86');
insert into CO2_Emissions (Country, Year, Amount) values ('India', 2010, '15,74,362.16');

insert into CO2_Emissions (Country, Year, Amount) values ('Indonesia', 2000, '2,89,527.15');
insert into CO2_Emissions (Country, Year, Amount) values ('Indonesia', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Iran (Islamic Republic of)', 2000, '3,65,908.35');
insert into CO2_Emissions (Country, Year, Amount) values ('Iran (Islamic Republic of)', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Iraq', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Iraq', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Ireland', 2000, '45249.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Ireland', 2010, '41747.93');

insert into CO2_Emissions (Country, Year, Amount) values ('Israel', 2000, '61067.82');
insert into CO2_Emissions (Country, Year, Amount) values ('Israel', 2010, '65088.77');

insert into CO2_Emissions (Country, Year, Amount) values ('Italy', 2000, '4,68,442.09');
insert into CO2_Emissions (Country, Year, Amount) values ('Italy', 2010, '4,33,688.02');

insert into CO2_Emissions (Country, Year, Amount) values ('Jamaica', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Jamaica', 2010, '7283.62');

insert into CO2_Emissions (Country, Year, Amount) values ('Japan', 2000, '12,64,844.26');
insert into CO2_Emissions (Country, Year, Amount) values ('Japan', 2010, '12,14,068.56');

insert into CO2_Emissions (Country, Year, Amount) values ('Jordan', 2000, '16308.31');
insert into CO2_Emissions (Country, Year, Amount) values ('Jordan', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Kazakhstan', 2000, '1,48,756.16');
insert into CO2_Emissions (Country, Year, Amount) values ('Kazakhstan', 2010, '2,50,896.96');

insert into CO2_Emissions (Country, Year, Amount) values ('Kenya', 2000, '7927.57');
insert into CO2_Emissions (Country, Year, Amount) values ('Kenya', 2010, '13888.30');

insert into CO2_Emissions (Country, Year, Amount) values ('Kiribati', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Kiribati', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Kuwait', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Kuwait', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Kyrgyzstan', 2000, '4957.14');
insert into CO2_Emissions (Country, Year, Amount) values ('Kyrgyzstan', 2010, '6363.38');

insert into CO2_Emissions (Country, Year, Amount) values ('Lao People's Democratic Republic', 2000, '1052.19');
insert into CO2_Emissions (Country, Year, Amount) values ('Lao People's Democratic Republic', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Latvia', 2000, '7064.72');
insert into CO2_Emissions (Country, Year, Amount) values ('Latvia', 2010, '8548.88');

insert into CO2_Emissions (Country, Year, Amount) values ('Lebanon', 2000, '15570.13');
insert into CO2_Emissions (Country, Year, Amount) values ('Lebanon', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Lesotho', 2000, '805.03');
insert into CO2_Emissions (Country, Year, Amount) values ('Lesotho', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Liberia', 2000, '3571.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Liberia', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Liechtenstein', 2000, '216.85');
insert into CO2_Emissions (Country, Year, Amount) values ('Liechtenstein', 2010, '190.81');

insert into CO2_Emissions (Country, Year, Amount) values ('Lithuania', 2000, '11873.92');
insert into CO2_Emissions (Country, Year, Amount) values ('Lithuania', 2010, '13926.74');

insert into CO2_Emissions (Country, Year, Amount) values ('Luxembourg', 2000, '8731.57');
insert into CO2_Emissions (Country, Year, Amount) values ('Luxembourg', 2010, '11219.29');

insert into CO2_Emissions (Country, Year, Amount) values ('Madagascar', 2000, '1747.40');
insert into CO2_Emissions (Country, Year, Amount) values ('Madagascar', 2010, '2057.90');

insert into CO2_Emissions (Country, Year, Amount) values ('Malawi', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Malawi', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Malaysia', 2000, '1,36,987.07');
insert into CO2_Emissions (Country, Year, Amount) values ('Malaysia', 2010, '2,17,972.69');

insert into CO2_Emissions (Country, Year, Amount) values ('Maldives', 2000, '0.00');
insert into CO2_Emissions (Country, Year, Amount) values ('Maldives', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Mali', 2000, '1562.89');
insert into CO2_Emissions (Country, Year, Amount) values ('Mali', 2010, '2743.67');

insert into CO2_Emissions (Country, Year, Amount) values ('Malta', 2000, '2545.52');
insert into CO2_Emissions (Country, Year, Amount) values ('Malta', 2010, '2581.76');

insert into CO2_Emissions (Country, Year, Amount) values ('Marshall Islands', 2000, '80.92');
insert into CO2_Emissions (Country, Year, Amount) values ('Marshall Islands', 2010, '124.94');

insert into CO2_Emissions (Country, Year, Amount) values ('Mauritania', 2000, '1137.07');
insert into CO2_Emissions (Country, Year, Amount) values ('Mauritania', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Mauritius', 2000, '2289.81');
insert into CO2_Emissions (Country, Year, Amount) values ('Mauritius', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Mexico', 2000, '4,07,271.27');
insert into CO2_Emissions (Country, Year, Amount) values ('Mexico', 2010, '4,89,865.36');

insert into CO2_Emissions (Country, Year, Amount) values ('Micronesia (Federated States of)', 2000, '151.99');
insert into CO2_Emissions (Country, Year, Amount) values ('Micronesia (Federated States of)', 2010, '0.00');

insert into CO2_Emissions (Country, Year, Amount) values ('Monaco', 2000, '100.31');
insert into CO2_Emissions (Country, Year, Amount) values ('Monaco', 2010, '77.69');

insert into CO2_Emissions (Country, Year, Amount) values ('Mongolia', 2000, '0.00');

In [84]:
# Selecting only the required columns for entity, year, and net forest conversion
forest_data_subset = deforestation_data[['Entity', 'Year', 'Net forest conversion']]

for index, row in forest_data_subset.iterrows():
    entity = row['Entity']
    year = row['Year']
    net_forest = row['Net forest conversion']
    
    forest_insert_statement = f"insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('{entity}', 2000, {net_forest});\n"
    forest_insert_statement += f"insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('{entity}', 2010, {net_forest});\n"

    print(forest_insert_statement)

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Algeria', 2000, -8800.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Algeria', 2010, -8800.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Algeria', 2000, 33900.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Algeria', 2010, 33900.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Algeria', 2000, 7600.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Algeria', 2010, 7600.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Algeria', 2000, -1400.0000000000005);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Algeria', 2010, -1400.0000000000005);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Argentina', 2000, -182600.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Argentina', 2010, -182600.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Argentina', 2000, -316400.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Argentina', 2010, -316400.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Argentina', 2000, -223400.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Argentina', 2010, -223400.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Argentina', 2000, -104800.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Argentina', 2010, -104800.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Aruba', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Aruba', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Aruba', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Aruba', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Aruba', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Aruba', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Aruba', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Aruba', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Australia', 2000, -206810.0000000001);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Australia', 2010, -206810.0000000001);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Australia', 2000, -226799.9999999999);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Australia', 2010, -226799.9999999999);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Australia', 2000, 709680.0000000002);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Australia', 2010, 709680.0000000002);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Austria', 2000, 6249.999999999999);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Austria', 2010, 6249.999999999999);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Austria', 2000, 2510.0000000000005);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Austria', 2010, 2510.0000000000005);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Austria', 2000, 3600.0000000000005);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Austria', 2010, 3600.0000000000005);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Austria', 2000, 3590.000000000001);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Austria', 2010, 3590.000000000001);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Azerbaijan', 2000, 9079.999999999998);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Azerbaijan', 2010, 9079.999999999998);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Azerbaijan', 2000, 14159.999999999996);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Azerbaijan', 2010, 14159.999999999996);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bahrain', 2000, 10.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bahrain', 2010, 10.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bahrain', 2000, 10.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bahrain', 2010, 10.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bahrain', 2000, 20.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bahrain', 2010, 20.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bahrain', 2000, 20.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bahrain', 2010, 20.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bangladesh', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bangladesh', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bangladesh', 2000, -3200.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bangladesh', 2010, -3200.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bangladesh', 2000, -990.000000000002);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bangladesh', 2010, -990.000000000002);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bangladesh', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bangladesh', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belarus', 2000, 26110.000000000007);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belarus', 2010, 26110.000000000007);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belarus', 2000, 19900.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belarus', 2010, 19900.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belarus', 2000, 26820.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belarus', 2010, 26820.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belgium', 2000, -110.0000000000001);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belgium', 2010, -110.0000000000001);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belgium', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belgium', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belize', 2000, -14070.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belize', 2010, -14070.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belize', 2000, -6790.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belize', 2010, -6790.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belize', 2000, -11710.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belize', 2010, -11710.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belize', 2000, -11160.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Belize', 2010, -11160.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bhutan', 2000, 9930.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bhutan', 2010, 9930.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bhutan', 2000, 9930.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bhutan', 2010, 9930.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bhutan', 2000, 1980.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bhutan', 2010, 1980.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bhutan', 2000, 1980.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bhutan', 2010, 1980.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bolivia', 2000, -270330.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bolivia', 2010, -270330.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bolivia', 2000, -201540.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bolivia', 2010, -201540.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bolivia', 2000, -211760.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bolivia', 2010, -211760.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bolivia', 2000, -238690.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bolivia', 2010, -238690.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Brazil', 2000, -3780940.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Brazil', 2010, -3780940.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Brazil', 2000, -3950790.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Brazil', 2010, -3950790.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Brazil', 2000, -1539179.9999999995);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Brazil', 2010, -1539179.9999999995);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Brazil', 2000, -1453040.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Brazil', 2010, -1453040.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bulgaria', 2000, 4800.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bulgaria', 2010, 4800.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bulgaria', 2000, 36200.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bulgaria', 2010, 36200.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bulgaria', 2000, 19200.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bulgaria', 2010, 19200.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bulgaria', 2000, 12000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Bulgaria', 2010, 12000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Burundi', 2000, -8250.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Burundi', 2010, -8250.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Burundi', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Burundi', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Burundi', 2000, 17140.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Burundi', 2010, 17140.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Burundi', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Burundi', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cameroon', 2000, -90250.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cameroon', 2010, -90250.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cameroon', 2000, -69700.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cameroon', 2010, -69700.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cameroon', 2000, -56000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cameroon', 2010, -56000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cameroon', 2000, -56000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cameroon', 2010, -56000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Canada', 2000, -47100.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Canada', 2010, -47100.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Canada', 2000, -47980.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Canada', 2010, -47980.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Canada', 2000, -41300.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Canada', 2010, -41300.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Canada', 2000, -37520.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Canada', 2010, -37520.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cape Verde', 2000, 300.00000000000034);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cape Verde', 2010, 300.00000000000034);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cape Verde', 2000, 300.00000000000034);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cape Verde', 2010, 300.00000000000034);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cape Verde', 2000, 300.00000000000017);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cape Verde', 2010, 300.00000000000017);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cayman Islands', 2000, -20.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cayman Islands', 2010, -20.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cayman Islands', 2000, -20.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cayman Islands', 2010, -20.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cayman Islands', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cayman Islands', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cayman Islands', 2000, 0.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Cayman Islands', 2010, 0.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Central African Republic', 2000, -30000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Central African Republic', 2010, -30000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Central African Republic', 2000, -30000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Central African Republic', 2010, -30000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Central African Republic', 2000, -30000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Central African Republic', 2010, -30000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Central African Republic', 2000, -30000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Central African Republic', 2010, -30000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Chile', 2000, 57100.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Chile', 2010, 57100.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Chile', 2000, 90820.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Chile', 2010, 90820.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Chile', 2000, 174160.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Chile', 2010, 174160.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Chile', 2000, 122920.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Chile', 2010, 122920.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('China', 2000, 1986000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('China', 2010, 1986000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('China', 2000, 2360980.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('China', 2010, 2360980.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('China', 2000, 1936770.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('China', 2010, 1936770.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('China', 2000, 1936790.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('China', 2010, 1936790.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Colombia', 2000, -222260.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Colombia', 2010, -222260.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Colombia', 2000, -192770.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Colombia', 2010, -192770.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Colombia', 2000, -134630.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Colombia', 2010, -134630.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Colombia', 2000, -198550.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Colombia', 2010, -198550.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Congo', 2000, -12000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Congo', 2010, -12000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Congo', 2000, -12000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Congo', 2010, -12000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Congo', 2000, -12000.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Congo', 2010, -12000.0);

insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Congo', 2000, -13800.0);
insert into Forest_Conversion (Country, Year, Net_Forest_Conversion) values ('Congo', 2010, -13800.0);


In [6]:
# Selecting only the required columns for country and population in 2000 and 2010
population_data_subset = population_data[['Country/Territory', '2000 Population', '2010 Population']]

for index, row in population_data_subset.iterrows():
    country = row['Country/Territory']
    population_2000 = row['2000 Population']
    population_2010 = row['2010 Population']
    
    pop_insert_statement = f"insert into Population (Country, Year, Population) values ('{country}', 2000, {population_2000});\n"
    pop_insert_statement += f"insert into Population (Country, Year, Population) values ('{country}', 2010, {population_2010});\n"
    
    print(pop_insert_statement)

insert into Population (Country, Year, Population) values ('Afghanistan', 2000, 19542982);
insert into Population (Country, Year, Population) values ('Afghanistan', 2010, 28189672);

insert into Population (Country, Year, Population) values ('Albania', 2000, 3182021);
insert into Population (Country, Year, Population) values ('Albania', 2010, 2913399);

insert into Population (Country, Year, Population) values ('Algeria', 2000, 30774621);
insert into Population (Country, Year, Population) values ('Algeria', 2010, 35856344);

insert into Population (Country, Year, Population) values ('American Samoa', 2000, 58230);
insert into Population (Country, Year, Population) values ('American Samoa', 2010, 54849);

insert into Population (Country, Year, Population) values ('Andorra', 2000, 66097);
insert into Population (Country, Year, Population) values ('Andorra', 2010, 71519);

insert into Population (Country, Year, Population) values ('Angola', 2000, 16394062);
insert into Population (Country, Year, Population) values ('Angola', 2010, 23364185);

insert into Population (Country, Year, Population) values ('Anguilla', 2000, 11047);
insert into Population (Country, Year, Population) values ('Anguilla', 2010, 13172);

insert into Population (Country, Year, Population) values ('Antigua and Barbuda', 2000, 75055);
insert into Population (Country, Year, Population) values ('Antigua and Barbuda', 2010, 85695);

insert into Population (Country, Year, Population) values ('Argentina', 2000, 37070774);
insert into Population (Country, Year, Population) values ('Argentina', 2010, 41100123);

insert into Population (Country, Year, Population) values ('Armenia', 2000, 3168523);
insert into Population (Country, Year, Population) values ('Armenia', 2010, 2946293);

insert into Population (Country, Year, Population) values ('Aruba', 2000, 89101);
insert into Population (Country, Year, Population) values ('Aruba', 2010, 100341);

insert into Population (Country, Year, Population) values ('Australia', 2000, 19017963);
insert into Population (Country, Year, Population) values ('Australia', 2010, 22019168);

insert into Population (Country, Year, Population) values ('Austria', 2000, 8010428);
insert into Population (Country, Year, Population) values ('Austria', 2010, 8362829);

insert into Population (Country, Year, Population) values ('Azerbaijan', 2000, 8190337);
insert into Population (Country, Year, Population) values ('Azerbaijan', 2010, 9237202);

insert into Population (Country, Year, Population) values ('Bahamas', 2000, 325014);
insert into Population (Country, Year, Population) values ('Bahamas', 2010, 373272);

insert into Population (Country, Year, Population) values ('Bahrain', 2000, 711442);
insert into Population (Country, Year, Population) values ('Bahrain', 2010, 1213645);

insert into Population (Country, Year, Population) values ('Bangladesh', 2000, 129193327);
insert into Population (Country, Year, Population) values ('Bangladesh', 2010, 148391139);

insert into Population (Country, Year, Population) values ('Barbados', 2000, 264657);
insert into Population (Country, Year, Population) values ('Barbados', 2010, 274711);

insert into Population (Country, Year, Population) values ('Belarus', 2000, 10256483);
insert into Population (Country, Year, Population) values ('Belarus', 2010, 9731427);

insert into Population (Country, Year, Population) values ('Belgium', 2000, 10264343);
insert into Population (Country, Year, Population) values ('Belgium', 2010, 10877947);

insert into Population (Country, Year, Population) values ('Belize', 2000, 240406);
insert into Population (Country, Year, Population) values ('Belize', 2010, 322106);

insert into Population (Country, Year, Population) values ('Benin', 2000, 6998023);
insert into Population (Country, Year, Population) values ('Benin', 2010, 9445710);

insert into Population (Country, Year, Population) values ('Bermuda', 2000, 61371);
insert into Population (Country, Year, Population) values ('Bermuda', 2010, 63447);

insert into Population (Country, Year, Population) values ('Bhutan', 2000, 587207);
insert into Population (Country, Year, Population) values ('Bhutan', 2010, 705516);

insert into Population (Country, Year, Population) values ('Bolivia', 2000, 8592656);
insert into Population (Country, Year, Population) values ('Bolivia', 2010, 10223270);

insert into Population (Country, Year, Population) values ('Bosnia and Herzegovina', 2000, 4179350);
insert into Population (Country, Year, Population) values ('Bosnia and Herzegovina', 2010, 3811088);

insert into Population (Country, Year, Population) values ('Botswana', 2000, 1726985);
insert into Population (Country, Year, Population) values ('Botswana', 2010, 2091664);

insert into Population (Country, Year, Population) values ('Brazil', 2000, 175873720);
insert into Population (Country, Year, Population) values ('Brazil', 2010, 196353492);

insert into Population (Country, Year, Population) values ('British Virgin Islands', 2000, 20104);
insert into Population (Country, Year, Population) values ('British Virgin Islands', 2010, 27556);

insert into Population (Country, Year, Population) values ('Brunei', 2000, 333926);
insert into Population (Country, Year, Population) values ('Brunei', 2010, 396053);

insert into Population (Country, Year, Population) values ('Bulgaria', 2000, 8097691);
insert into Population (Country, Year, Population) values ('Bulgaria', 2010, 7592273);

insert into Population (Country, Year, Population) values ('Burkina Faso', 2000, 11882888);
insert into Population (Country, Year, Population) values ('Burkina Faso', 2010, 16116845);

insert into Population (Country, Year, Population) values ('Burundi', 2000, 6307659);
insert into Population (Country, Year, Population) values ('Burundi', 2010, 9126605);

insert into Population (Country, Year, Population) values ('Cambodia', 2000, 12118841);
insert into Population (Country, Year, Population) values ('Cambodia', 2010, 14363532);

insert into Population (Country, Year, Population) values ('Cameroon', 2000, 15091594);
insert into Population (Country, Year, Population) values ('Cameroon', 2010, 19878036);

insert into Population (Country, Year, Population) values ('Canada', 2000, 30683313);
insert into Population (Country, Year, Population) values ('Canada', 2010, 33963412);

insert into Population (Country, Year, Population) values ('Cape Verde', 2000, 458251);
insert into Population (Country, Year, Population) values ('Cape Verde', 2010, 521212);

insert into Population (Country, Year, Population) values ('Cayman Islands', 2000, 39658);
insert into Population (Country, Year, Population) values ('Cayman Islands', 2010, 54074);

insert into Population (Country, Year, Population) values ('Central African Republic', 2000, 3759170);
insert into Population (Country, Year, Population) values ('Central African Republic', 2010, 4660067);

insert into Population (Country, Year, Population) values ('Chad', 2000, 8259137);
insert into Population (Country, Year, Population) values ('Chad', 2010, 11894727);

insert into Population (Country, Year, Population) values ('Chile', 2000, 15351799);
insert into Population (Country, Year, Population) values ('Chile', 2010, 17004162);

insert into Population (Country, Year, Population) values ('China', 2000, 1264099069);
insert into Population (Country, Year, Population) values ('China', 2010, 1348191368);

insert into Population (Country, Year, Population) values ('Colombia', 2000, 39215135);
insert into Population (Country, Year, Population) values ('Colombia', 2010, 44816108);

insert into Population (Country, Year, Population) values ('Comoros', 2000, 536758);
insert into Population (Country, Year, Population) values ('Comoros', 2010, 656024);

insert into Population (Country, Year, Population) values ('Cook Islands', 2000, 15897);
insert into Population (Country, Year, Population) values ('Cook Islands', 2010, 17212);

insert into Population (Country, Year, Population) values ('Costa Rica', 2000, 3979193);
insert into Population (Country, Year, Population) values ('Costa Rica', 2010, 4622252);

insert into Population (Country, Year, Population) values ('Croatia', 2000, 4548434);
insert into Population (Country, Year, Population) values ('Croatia', 2010, 4368682);

insert into Population (Country, Year, Population) values ('Cuba', 2000, 11105791);
insert into Population (Country, Year, Population) values ('Cuba', 2010, 11290417);

insert into Population (Country, Year, Population) values ('Curacao', 2000, 141424);
insert into Population (Country, Year, Population) values ('Curacao', 2010, 159380);

insert into Population (Country, Year, Population) values ('Cyprus', 2000, 948237);
insert into Population (Country, Year, Population) values ('Cyprus', 2010, 1129686);

insert into Population (Country, Year, Population) values ('Czech Republic', 2000, 10234710);
insert into Population (Country, Year, Population) values ('Czech Republic', 2010, 10464749);

insert into Population (Country, Year, Population) values ('Denmark', 2000, 5340655);
insert into Population (Country, Year, Population) values ('Denmark', 2010, 5550849);

insert into Population (Country, Year, Population) values ('Djibouti', 2000, 742033);
insert into Population (Country, Year, Population) values ('Djibouti', 2010, 919199);

insert into Population (Country, Year, Population) values ('Dominica', 2000, 68346);
insert into Population (Country, Year, Population) values ('Dominica', 2010, 68755);

insert into Population (Country, Year, Population) values ('Dominican Republic', 2000, 8540791);
insert into Population (Country, Year, Population) values ('Dominican Republic', 2010, 9775755);

insert into Population (Country, Year, Population) values ('DR Congo', 2000, 48616317);
insert into Population (Country, Year, Population) values ('DR Congo', 2010, 66391257);

insert into Population (Country, Year, Population) values ('Ecuador', 2000, 12626507);
insert into Population (Country, Year, Population) values ('Ecuador', 2010, 14989585);

insert into Population (Country, Year, Population) values ('Egypt', 2000, 71371371);
insert into Population (Country, Year, Population) values ('Egypt', 2010, 87252413);

insert into Population (Country, Year, Population) values ('El Salvador', 2000, 5958482);
insert into Population (Country, Year, Population) values ('El Salvador', 2010, 6114034);

insert into Population (Country, Year, Population) values ('Equatorial Guinea', 2000, 684977);
insert into Population (Country, Year, Population) values ('Equatorial Guinea', 2010, 1094524);

insert into Population (Country, Year, Population) values ('Eritrea', 2000, 2392880);
insert into Population (Country, Year, Population) values ('Eritrea', 2010, 3147727);

insert into Population (Country, Year, Population) values ('Estonia', 2000, 1396877);
insert into Population (Country, Year, Population) values ('Estonia', 2010, 1331535);

insert into Population (Country, Year, Population) values ('Eswatini', 2000, 1030496);
insert into Population (Country, Year, Population) values ('Eswatini', 2010, 1099920);

insert into Population (Country, Year, Population) values ('Ethiopia', 2000, 67031867);
insert into Population (Country, Year, Population) values ('Ethiopia', 2010, 89237791);

insert into Population (Country, Year, Population) values ('Falkland Islands', 2000, 3080);
insert into Population (Country, Year, Population) values ('Falkland Islands', 2010, 3187);

insert into Population (Country, Year, Population) values ('Faroe Islands', 2000, 45660);
insert into Population (Country, Year, Population) values ('Faroe Islands', 2010, 48410);

insert into Population (Country, Year, Population) values ('Fiji', 2000, 832509);
insert into Population (Country, Year, Population) values ('Fiji', 2010, 905169);

insert into Population (Country, Year, Population) values ('Finland', 2000, 5176209);
insert into Population (Country, Year, Population) values ('Finland', 2010, 5363271);

insert into Population (Country, Year, Population) values ('France', 2000, 58665453);
insert into Population (Country, Year, Population) values ('France', 2010, 62444567);

insert into Population (Country, Year, Population) values ('French Guiana', 2000, 164351);
insert into Population (Country, Year, Population) values ('French Guiana', 2010, 228453);

insert into Population (Country, Year, Population) values ('French Polynesia', 2000, 250927);
insert into Population (Country, Year, Population) values ('French Polynesia', 2010, 283788);

insert into Population (Country, Year, Population) values ('Gabon', 2000, 1272935);
insert into Population (Country, Year, Population) values ('Gabon', 2010, 1711105);

insert into Population (Country, Year, Population) values ('Gambia', 2000, 1437539);
insert into Population (Country, Year, Population) values ('Gambia', 2010, 1937275);

insert into Population (Country, Year, Population) values ('Georgia', 2000, 4265172);
insert into Population (Country, Year, Population) values ('Georgia', 2010, 3836831);

insert into Population (Country, Year, Population) values ('Germany', 2000, 81551677);
insert into Population (Country, Year, Population) values ('Germany', 2010, 81325090);

insert into Population (Country, Year, Population) values ('Ghana', 2000, 19665502);
insert into Population (Country, Year, Population) values ('Ghana', 2010, 25574719);

insert into Population (Country, Year, Population) values ('Gibraltar', 2000, 27741);
insert into Population (Country, Year, Population) values ('Gibraltar', 2010, 31262);

insert into Population (Country, Year, Population) values ('Greece', 2000, 11038109);
insert into Population (Country, Year, Population) values ('Greece', 2010, 11033783);

insert into Population (Country, Year, Population) values ('Greenland', 2000, 56184);
insert into Population (Country, Year, Population) values ('Greenland', 2010, 56351);

insert into Population (Country, Year, Population) values ('Grenada', 2000, 107432);
insert into Population (Country, Year, Population) values ('Grenada', 2010, 114039);

insert into Population (Country, Year, Population) values ('Guadeloupe', 2000, 424067);
insert into Population (Country, Year, Population) values ('Guadeloupe', 2010, 403072);

insert into Population (Country, Year, Population) values ('Guam', 2000, 160188);
insert into Population (Country, Year, Population) values ('Guam', 2010, 164905);

insert into Population (Country, Year, Population) values ('Guatemala', 2000, 11735894);
insert into Population (Country, Year, Population) values ('Guatemala', 2010, 14543121);

insert into Population (Country, Year, Population) values ('Guernsey', 2000, 59114);
insert into Population (Country, Year, Population) values ('Guernsey', 2010, 60782);

insert into Population (Country, Year, Population) values ('Guinea', 2000, 8336967);
insert into Population (Country, Year, Population) values ('Guinea', 2010, 10270728);

insert into Population (Country, Year, Population) values ('Guinea-Bissau', 2000, 1230849);
insert into Population (Country, Year, Population) values ('Guinea-Bissau', 2010, 1567220);

insert into Population (Country, Year, Population) values ('Guyana', 2000, 759051);
insert into Population (Country, Year, Population) values ('Guyana', 2010, 747932);

insert into Population (Country, Year, Population) values ('Haiti', 2000, 8360225);
insert into Population (Country, Year, Population) values ('Haiti', 2010, 9842880);

insert into Population (Country, Year, Population) values ('Honduras', 2000, 6656725);
insert into Population (Country, Year, Population) values ('Honduras', 2010, 8450933);

insert into Population (Country, Year, Population) values ('Hong Kong', 2000, 6731195);
insert into Population (Country, Year, Population) values ('Hong Kong', 2010, 7132438);

insert into Population (Country, Year, Population) values ('Hungary', 2000, 10202055);
insert into Population (Country, Year, Population) values ('Hungary', 2010, 9986825);

insert into Population (Country, Year, Population) values ('Iceland', 2000, 281462);
insert into Population (Country, Year, Population) values ('Iceland', 2010, 318333);

insert into Population (Country, Year, Population) values ('India', 2000, 1059633675);
insert into Population (Country, Year, Population) values ('India', 2010, 1240613620);

insert into Population (Country, Year, Population) values ('Indonesia', 2000, 214072421);
insert into Population (Country, Year, Population) values ('Indonesia', 2010, 244016173);

insert into Population (Country, Year, Population) values ('Iran', 2000, 65544383);
insert into Population (Country, Year, Population) values ('Iran', 2010, 75373855);

insert into Population (Country, Year, Population) values ('Iraq', 2000, 24628858);
insert into Population (Country, Year, Population) values ('Iraq', 2010, 31264875);

insert into Population (Country, Year, Population) values ('Ireland', 2000, 3768950);
insert into Population (Country, Year, Population) values ('Ireland', 2010, 4524585);

insert into Population (Country, Year, Population) values ('Isle of Man', 2000, 75562);
insert into Population (Country, Year, Population) values ('Isle of Man', 2010, 83828);

insert into Population (Country, Year, Population) values ('Israel', 2000, 6116958);
insert into Population (Country, Year, Population) values ('Israel', 2010, 7328445);

insert into Population (Country, Year, Population) values ('Italy', 2000, 56966397);
insert into Population (Country, Year, Population) values ('Italy', 2010, 59822450);

insert into Population (Country, Year, Population) values ('Ivory Coast', 2000, 16799670);
insert into Population (Country, Year, Population) values ('Ivory Coast', 2010, 21120042);

insert into Population (Country, Year, Population) values ('Jamaica', 2000, 2612205);
insert into Population (Country, Year, Population) values ('Jamaica', 2010, 2733896);

insert into Population (Country, Year, Population) values ('Japan', 2000, 126803861);
insert into Population (Country, Year, Population) values ('Japan', 2010, 128105431);

insert into Population (Country, Year, Population) values ('Jersey', 2000, 86192);
insert into Population (Country, Year, Population) values ('Jersey', 2010, 96151);

insert into Population (Country, Year, Population) values ('Jordan', 2000, 5056174);
insert into Population (Country, Year, Population) values ('Jordan', 2010, 6931258);

insert into Population (Country, Year, Population) values ('Kazakhstan', 2000, 15236253);
insert into Population (Country, Year, Population) values ('Kazakhstan', 2010, 16627837);

insert into Population (Country, Year, Population) values ('Kenya', 2000, 30851606);
insert into Population (Country, Year, Population) values ('Kenya', 2010, 41517895);

insert into Population (Country, Year, Population) values ('Kiribati', 2000, 88826);
insert into Population (Country, Year, Population) values ('Kiribati', 2010, 107995);

insert into Population (Country, Year, Population) values ('Kuwait', 2000, 1934901);
insert into Population (Country, Year, Population) values ('Kuwait', 2010, 2943356);

insert into Population (Country, Year, Population) values ('Kyrgyzstan', 2000, 4935182);
insert into Population (Country, Year, Population) values ('Kyrgyzstan', 2010, 5483774);

insert into Population (Country, Year, Population) values ('Laos', 2000, 5430853);
insert into Population (Country, Year, Population) values ('Laos', 2010, 6323418);

insert into Population (Country, Year, Population) values ('Latvia', 2000, 2392530);
insert into Population (Country, Year, Population) values ('Latvia', 2010, 2101530);

insert into Population (Country, Year, Population) values ('Lebanon', 2000, 4320642);
insert into Population (Country, Year, Population) values ('Lebanon', 2010, 4995800);

insert into Population (Country, Year, Population) values ('Lesotho', 2000, 1998630);